h1 { 
	color: orangered; 
	margin-bottom: -5px; 
}
body{
	background-color:#ffe5ec;
} 
p { 
	margin-bottom: -10px; 
} 
.ui { 
	display: flex; 
	flex-direction: column; 
	align-items: center; 
} 
.row { 
	display: flex; 
} 
.footer{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0,5vmin;
    flex-direction: column;
    text-align: center;
}
.footer h3{
	color: orangered;
	
}
.cell { 
	border: none; 
	width: 80px; 
	height: 80px; 
	display: flex; 
	align-items: center; 
	justify-content: center; 
	font-size: 24px; 
	text-align: center; 
	cursor: pointer; 
} 
.cell:active { 
	outline: none; 
} 
/* 3*3 Grid */
#b1{ 
	border-top: 1px solid #fe5d9f;             
	border-left: 1px solid #fe5d9f; ; 
	background-color: azure;
	border-right: 1px solid #fe5d9f; ; 
	border-bottom: 1px solid #fe5d9f; ;
	box-shadow: 0 0  20px   #fe5d9f;
}	

#b2 { 
	border-top: 1px solid #fe5d9f;             
	border-left: 1px solid #fe5d9f; ; 
	background-color: azure;
	border-right: 1px solid #fe5d9f; ; 
	border-bottom: 1px solid #fe5d9f; ;
	box-shadow: 0 0  20px   #fe5d9f;
} 

#b3 { 
	border-top: 1px solid #fe5d9f;             
	border-left: 1px solid #fe5d9f; ; 
	background-color: azure;
	border-right: 1px solid #fe5d9f; ; 
	border-bottom: 1px solid #fe5d9f; ;
	box-shadow: 0 0  20px   #fe5d9f;
} 

#b4 { 
	border-top: 1px solid #fe5d9f;             
	border-left: 1px solid #fe5d9f; ; 
	background-color: azure;
	border-right: 1px solid #fe5d9f; ; 
	border-bottom: 1px solid #fe5d9f; ;
	box-shadow: 0 0  20px   #fe5d9f;
} 
	
#b5 { 
	border: 1px solid #fe5d9f; 
	box-shadow: 0 0  20px   #fe5d9f; 
	background-color: azure;
	 
} 

#b6 { 
	border-top: 1px solid #fe5d9f;             
	border-left: 1px solid #fe5d9f; ; 
	background-color: azure;
	border-right: 1px solid #fe5d9f; ; 
	border-bottom: 1px solid #fe5d9f; ;
	box-shadow: 0 0  20px   #fe5d9f; 
	
} 

#b7 { 
	border-top: 1px solid #fe5d9f;             
	border-left: 1px solid #fe5d9f; ; 
	background-color: azure;
	border-right: 1px solid #fe5d9f; ; 
	border-bottom: 1px solid #fe5d9f; ;
	box-shadow: 0 0  20px   #fe5d9f; 
} 

#b8 { 
	border-top: 1px solid #fe5d9f;             
	border-left: 1px solid #fe5d9f; ; 
	background-color: azure;
	border-right: 1px solid #fe5d9f; ; 
	border-bottom: 1px solid #fe5d9f; ;
	box-shadow: 0 0  20px   #fe5d9f; 

} 

#b9 { 
	border-top: 1px solid #fe5d9f;             
	border-left: 1px solid #fe5d9f; ; 
	background-color: azure;
	border-right: 1px solid #fe5d9f; ; 
	border-bottom: 1px solid #fe5d9f; ;
	box-shadow: 0 0  20px   #fe5d9f; 
} 
/* Reset Button */
#but { 
	box-sizing: border-box; 
	width: 95px; 
	height: 40px; 
	border: 1px solid #9b5de5; ; 
	margin-left: auto; 
	border-radius: 8px; 
	font-family: Verdana,Tahoma, sans-serif; 
	background-color: whitesmoke; 
	font-size: 20px; 
	font-size: 20px; 
	color:#9b5de5;  ; 
	font-size: 20px; 
	cursor: pointer; 
} 

/* Player turn space */
#print { 
	font-family: Verdana, 
		Geneva, Tahoma, sans-serif; 
	color: #9b5de5; 
	font-size: 20px; 
} 

/* Main Container */
#main { 
	text-align: center;
		font-family: "Libre Baskerville", serif;
		font-weight: 400;
		font-style: normal;
	  
}

/* Game Instruction Text */
#ins { 
	font-family: Verdana,Geneva, 
					Tahoma, sans-serif; 
	color: #9b5de5; 
		font-family: "Libre Baskerville", serif;
		font-weight: 400;
		font-style:normal;
} 
.div {
	 background-color:#fe5d9f;
	width:1000PX;
}
